.nav-bg {
  background: rgba(255, 255, 255, 0.025);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.02);
}
