@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-el {
    @apply block md:inline-block px-3 py-2 md:rounded-md text-white hover:bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-900 border-b-2 border-b-slate-500 md:border-0;
  }
  .form-input {
    @apply w-full p-2 my-2 rounded-md bg-[#b3b3b3] border-[1px] border-[#1c2f41] focus:outline-0 focus:shadow-[#3B82F6] focus:shadow-[0_0_0_2px_#3294f8];
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(37, 41, 58);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}